################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheGame/obj/Debug/TheGame.csproj.FileListAbsolute.txt
